@import url(//db.onlinewebfonts.com/c/34ef7a65a4825cfc84856db83a1ac382?family=Eskapade);
@import url(//db.onlinewebfonts.com/c/af089c51d74ffa3c6a675fd6024b302b?family=Futura+Hv+BT);
@import url(//db.onlinewebfonts.com/c/484a35f584fd87cc8f71ea6fef2d3be5?family=Germania);
@import url(//db.onlinewebfonts.com/c/1c587cd97662ab09cb8ba96867f212e7?family=DINOT-Regular);
@font-face {
    font-family: ahamono;
    src: url(../../client/fonts/AHAMONO-Monospaced.otf);
    font-weight: bold;
}

body {
    margin: 0;
    background-color: #302F2F;
    align-content: center;
    font-family: eskapade;
}

#lib_policy_one {
    opacity: 0;
    position: absolute;
    transition-timing-function: ease-out;
    margin: 0;
    padding: 0;
    top: 0px;
    width:5.7vw;
    min-width: 40px;
    height:auto;
}
/*
#dwadwad {
    margin-left: auto;
    margin-right: auto;
}
*/
#version{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -2;
    margin: 0vw 0vw 0vw 0vw;
    padding: 0vw 0vw 0vw 0vw;
    width:10em;
    text-align: left;
    font-size: 1em;
    color:#F3E5C3;
    text-shadow: 1px 1px #CA714D, 2px 2px #CA714D, 3px 3px #CA714D, 4px 4px #CA714D;
}

#lpf {
    z-index:-5;
    margin-top: 10.5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    min-width: 350px;
    height:auto;
}

#fpf {
    z-index:-5;
    margin-bottom: 25vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    min-width: 350px;
    height: auto;
}

#player_name {
    margin: 0vw 0vw 0vw 0vw;
    text-align: right;
    font-size: 1.5em;
    color: #F3E5C3;
    text-shadow: 1px 1px #CA714D, 2px 2px #CA714D, 3px 3px #CA714D, 4px 4px #CA714D;
}

#player_role{
    position: absolute;
    right: 0.5em;
    top: 1.5em;
    z-index: -2;
    margin: 0vw 0vw 0vw 0vw;
    text-align: right;
    font-size: 1.5em;
    color: #C13423;
    text-shadow: 1px 1px #990200, 2px 2px #990200, 3px 3px #990200, 4px 4px #990200;
}
